{% extends 'base.html' %}
{% block title %}404 - Page Not Found{% endblock %}
{% block description %}Page Not Found. Back to the homepage to search by artist and song title.{% endblock %}
{% block robots %}noindex, follow{% endblock %}
{% block canonical %}{% endblock %}
{% block content %}
    <div class="container text-center">
        
        <h1 class="error-title">404</h1>
        
        <h2>Page Not Found (ERROR)</h2>
        
        <p>Redirecting to homepage in <span id="countdown">5</span> seconds...</p>
        
        {{ ui.link_button('/', '« Back to homepage') }}
    </div>
{% endblock %}
